<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org"

>
<head>
    <meta charset="UTF-8">
    <title>增删改查</title>
</head>
<body>

<center>
    <div id="app">
        <h1>查询</h1>
        <table border="1" cellspacing="0">
            <tr th:each="l:${person}">
                <td th:text="${l.id}"></td>
                <td th:text="${l.name}"></td>
                <td th:text="${l.sex}"></td>
                <td th:text="${l.idcard}"></td>
                <td th:text="${l.phone}"></td>
                <td th:text="${l.province}"></td>
                <td th:text="${l.city}"></td>
                <td th:text="${l.address}"></td>
                <td th:text="${l.staus}"></td>
            </tr>

            <!--<tr>-->
                <!--<th v-for="val,key in person[0]">{{key}}</th>-->
                <!--<th>操作</th>-->
            <!--</tr>-->
            <!--<tr v-for="val in person">
                <td>{{val.id}}</td>
                <td>{{val.name}}</td>
                <td>{{val.sex==0?"男":"女"}}</td>
                <td>{{val.idcard}}</td>
                <td>{{val.phone}}</td>
                <td>{{val.province}}</td>
                <td>{{val.city}}</td>
                <td>{{val.address}}</td>
                <td>{{val.staus==0?"正常":"在逃"}}</td>
                <td><BUTTON @click="del(val.id)">删除</BUTTON>
                <button @click="findOne(val.id)">修改</button></td>
            </tr>-->
        </table>
        <button @click="qwe=qwe==false?true:false">添加</button>

        <hr>
        <!--<form action="JavaScript:" v-if="state">
            编号:<input type="text" v-model="editData.id" readonly="readonly"><br>
            姓名:<input type="text" v-model="editData.name"><br>
            性别: 男:<input type="radio" value="1" v-model="editData.sex">
            女:<input type="radio" value="0" v-model="editData.sex"><br>
            身份证:<input type="text" v-model="editData.idcard"><br>
            手机号:<input type="text" v-model="editData.phone"><br>
            <input type="button" @click="upd" value="修改">
        </form>
        <form action="JavaScript:">
            姓名:<input type="text" v-model="addDate.name"><br>
            性别: 男:<input type="radio" value="1" v-model="addDate.sex">
            女:<input type="radio" value="0"  ><br>
            身份证:<input type="text" v-model="addDate.idcard" ><br>
            手机号:<input type="text" v-model="addDate.phone" ><br>
            <input type="button" @click="add" value="添加">
        </form>-->

    </div>
</center>

<script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
<script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>

<script>

    var vm = new Vue({
        el:'#app',
        data:{
            person:null,
            state:false,
            editData:null,
            qwe:false,
            addDate:null
        },
        created:function () {
            //发送异步请求到后台取值
            this.query();
        },
        methods:{
            "query":function () {
                var url = "find";
                var t =  this;
                axios.get(url).then(function (value) {
                    t.person = value.data;
                }).catch(function (reason) {
                    console.log("错误");
                });
            },
            "findOne":function (id) {
                this.state = this.state==false?true:false; //表单设置可
                let th  = this;
                var url = "find?id="+id;
                axios.get(url).then(function (value) {
                    th.editData = value.data[0];
                    // console.log(th.editData);
                })
            },
            upd:function () {
                let ts = this;
                var url = "edit";
                axios.get(url,{params:ts.editData}).then(function (value) {
                    ts.person = value.data;
                    // ts.qwe=ts.qwe==false?true:false;
                })
            },
            add:function () {
                let ths = this;
                var url = "add";
                alert(this.addDate);
                axios.get(url,{params: ths.addDate}).then(function (value) {
                    ths.person = value.data;
                })
            }
        }
    });

</script>


</body>
</html>